<div class="navbar-expand-md">
  <div class="collapse navbar-collapse" [ngClass]="{ show: false }" id="navbar-menu">
    <div class="navbar navbar-light">
      <div class="container-xl">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/subjects']" routerLinkActive="active">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="fa-solid fa-chalkboard-user"></i>
              </span>
              <span class="nav-link-title"> Materias </span>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/careers']" routerLinkActive="active">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="fa-solid fa-book"></i>
              </span>
              <span class="nav-link-title"> Carreras </span>
            </a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#" [routerLink]="['/plans']" routerLinkActive="active">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="fa-solid fa-graduation-cap"></i>
              </span>
              <span class="nav-link-title"> Planes </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>